*, :after, :before
  box-sizing: border-box

html, body
  height: 100%
  padding: 0
  margin: 0

html
  cursor: default
  font-family: sans-serif

body
  font-family: $rootFont
  background: $white
  color: $text-color
  font-size: 16px
  line-height: 1.5

p,
label
  line-height: 1.5em

input
  outline: none

#root
  height: 100%
