.Home
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background: #0099a8
  height: 100%
  &__title
    font-family: 'Caveat', cursive
    font-size: 4rem
  &__content
    min-width: 480px
    background: #FFFFFF
    border-radius: 4px
    display: block
    padding: 20px
