.TextField
  &__input
    display: block
    width: 100%
    height: 33px
    line-height: 33px
    padding: 0 10px
    border: 1px solid #d3d3db
    border-radius: 3px
    background: #fff
    font-weight: 400
    color: #565656
    transition: border .15s
  &__error
    color: #ff2121
    font-size: 11px
    font-weight: 600
    position: absolute

.TextField--error
  margin-bottom: 20px
  position: relative
  .TextField__input
    border-color: #ff2121
.TextField--fullWidth
    width: 100%

